nav {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  height: 10%;
  width: 100%;
  margin-bottom: 2vh;
  background-color: var(--bg);
  padding: 5px 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 30px -8px rgba(0, 0, 0, 0.71) inset;
  gap: 10px;
}

.nav-left {
  width: 5%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.vivid-logo {
  width: 100%;
  height: auto;
}

.nav-middle {
  width: 80%;
  height: 100%;

}

.search-section {
  display: flex;
  align-items: center;
  gap: 5px;
  height: 100%;
}

.nav-input-search {
  border: 2px solid var(--border);
  border-radius: 5px;
  width: 30%;
  height: 50%;
  padding: 10px;
  background-color: var(--bg-light);
  color: var(--text);
}
.nav-input-search:focus {
  outline: none;
  border: 2px solid var(--border-muted);
}

.nav-search-button {
  background: none;
  border: none;
  color: var(--text);
  cursor: pointer;
  font-size: 24px;
}

.nav-right {
  width: 15%;
  height: 100%;
  background-color: crimson;
}