nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid black;
  height: 10%;
  width: 100%;
  margin-bottom: 2vh;
  background-color: var(--bg);
  padding: 10px 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 30px -8px rgba(0, 0, 0, 0.71) inset;
  gap: 15px;
}

.nav-middle {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.logo img {
  height: 5rem;
  width: auto;
}

.search-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.search {
  position: relative;
  display: inline-flex;
  align-items: center;
}

.vivid-search {
  outline: none;
  height: 35px;
  width: 350px;
  background-color: var(--bg-light);
  border: 1px solid var(--border);
  border-radius: 5px;
  padding: 0px 30px 0px 5px;
  overflow: hidden;
  color: var(--text);
  font-family: "Inter", sans-serif;
  line-height: 35px;
}

.vivid-search::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

.vivid-search::placeholder {
  color: var(--text);
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

.vivid-search:focus {
  outline: none;

  border: 1px solid var(--highlight);
}

.clear-button {
  position: absolute;
  font-size: 18px;
  z-index: 9999;
  right: 5px;
  top: 56%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
}

.clear-icon {
  color: var(--text);
}

.search-button {
  padding: 0;
  outline: none;
  cursor: pointer;
  background: none;
  border: none;
}

.search-icon {
  margin: 0;
  padding: 0;
  font-size: 28px;
  color: var(--text);
}

.links ul {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  flex-direction: row;
  list-style: none;

}

.links li {
  position: relative;
  /* color: var(--text-muted); */
  margin: 0 20px;
}

.links a ion-icon {
  color: var(--text);
  text-decoration: none;
  margin: 0 24px;
  font-family: "Inter", sans-serif;
  font-size: 28px;
  transition: color 0.3s;
}

.links a:hover {
  color: var(--highlight);
}

.tooltip {
  opacity: 0;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%) translateY(-10px);
  background-color: var(--bg-light);
  color: var(--text-muted);
  padding: 10px 20px;
  border-radius: 5px;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, transform 0.3s;
}

.links li a:hover+.tooltip {
  opacity: 1;
  visibility: visible;
  transform: translateX(-50%) translateY(10px);
}

.nav-right {
  width: 300px;
  display: flex;
  align-items: center;
  flex-direction: row;
  margin: 0;
  padding: 0;
  border-left: 2px solid var(--bg-light);
  padding: 0 15px;
  gap: 8px;
}

.user {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 8px;
  color: var(--text);
  font-family: "Inter", sans-serif;
}

.user img {
  width: 50px;
  height: auto;
  border-radius: 50px;
}

.nav-right button {
  color: var(--text);
  background: none;
  border: none;
  position: relative;
}

.nav-right ion-icon {
  font-size: 28px;
  cursor: pointer;

}

.mode:has(ion-icon) {
  cursor: pointer;
  display: block;
  position: absolute;
  right: 0.5%
}

.hidden {
  display: none;
}

.main {
  height: 85%;
  width: 100%;
  display: flex;
  gap: 8px;
}