:root {
  --bg-dark: hsl(273 100% 94%);
  --bg: hsl(273 100% 99%);
  --bg-light: hsl(273 100% 100%);
  --text: hsl(278 100% 7%);
  --text-muted: hsl(276 42% 33%);
  --highlight: hsl(274 100% 100%);
  --border: hsl(275 34% 56%);
  --border-muted: hsl(275 49% 69%);
  --primary: hsl(276 42% 33%);
  --secondary: hsl(81 100% 13%);
  --danger: hsl(7 47% 42%);
  --warning: hsl(53 100% 17%);
  --success: hsl(161 100% 19%);
  --info: hsl(217 50% 44%);
}

.dark {
  --bg-dark: hsl(269 100% 3%);
  --bg: hsl(276 82% 6%);
  --bg-light: hsl(276 54% 11%);
  --text: hsl(274 100% 100%);
  --text-muted: hsl(274 52% 75%);
  --highlight: hsl(275 32% 44%);
  --border: hsl(276 42% 33%);
  --border-muted: hsl(278 63% 21%);
  --primary: hsl(274 65% 76%);
  --secondary: hsl(89 40% 59%);
  --danger: hsl(8 63% 66%);
  --warning: hsl(52 49% 46%);
  --success: hsl(151 41% 51%);
  --info: hsl(217 73% 68%);
}

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
}

nav {
  border: 1px solid black;
  height: 13%;
  width: 100%;
  margin-bottom: 2vh;
  background-color: pink;
}

main {
  height: 85%;
  width: 100%;
  display: flex;
  gap: 8px;
}

.aside-left {
  border: 1px solid black;
  height: 100%;
  width: 25%;
  background-color: aliceblue;
}

.content {
  border: 1px solid black;
  height: 100%;
  width: 60%;
  background-color: bisque;
}

.aside-right {
  border: 1px solid black;
  height: 100%;
  width: 15%;
  background-color: darkseagreen;
}