:root {
  --color-primary: hsl(275, 50%, 90%);
  --color-secondary: hsl(275, 50%, 10%);
  --color-tertiary: hsl(335, 80%, 20%);
  --color-accent: hsl(215, 80%, 20%);
}

.dark {
  --color-primary: hsl(275, 50%, 10%);
  --color-secondary: hsl(275, 50%, 90%);
  --color-tertiary: hsl(335, 80%, 80%);
  --color-accent: hsl(215, 80%, 80%);
}

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
}